[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"

[requires]
python_version = "3.9"

[scripts]
linter = "python scripts/health_check.py"
test = "pytest tests"